<%- include('./partials/header.ejs')%>
<main class="paragraphText">
    <div class="overview">
        <p>About Ennis Arts & Crafts Site</p>
        <br>
        <p>Platform to engage in and post events related to arts & crafts.</p>
        <p>If you're looking for an opportunity to connect with others and engage in 
            fun arts and crafts activities,</p>
        <p>feel free to explore our connections.</p>
        </p>
    </div>
</main>
<%- include('./partials/footer.ejs')%>