<%- include('./partials/header.ejs')%>
<main class="paragraphText">
    <div class="overview">
        <p>Contact Us</p>
        <br>
        <p>Address - 9201 University City Blv, Charlotte, NC 28223</p>
        <p>Email - fakeemail@uncc.edu</p>
        <p>Phone - (704)-687-8622</p>
    </div>
</main>
<%- include('./partials/footer.ejs')%>