<%- include('./partials/header.ejs')%>
<!--Intro and overview to the site-->
    <main class="paragraphText">
        <div class="overview">
            <p>Welcome to the Ennis Arts & Crafts Connections site.</p>
            <br>
            <p>Attend and create Arts & Crafts events to connect with people. <br>
                Whether you are looking for a relaxing time of painting, drawing, or ceramics (plus more!),<br>
                we provide opportunities for connecting with others while pursuing your interests for various arts &
                crafts.
            </p>
        </div>
    </main>
    <%- include('./partials/footer.ejs')%>